.background-container{
    height: 100vh;
    background-image:url("../img/coding_dtvakc.jpg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    position:relative;
      
    
}